/**

}
**/
body{
	background-image:url(../img/creampaper_@2.png);
	background-repeat:repeat;
	background-attachment: fixed;
	margin:0%;
	border: 0%;
	
}

.encabezado{
	width: 650px;
	height: 500px;
	margin: 0px auto;
	padding: 140px 0px;

}

.encabezado p{
	font-weight:300;
	font-size:70px;
	font-family: 'Roboto', sans-serif;
	color: #848484;
	letter-spacing: 5px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0px 0px 20px 0px;
}

span{
	font-weight:700;
	font-size: 80px;
	letter-spacing: 1px;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 28px;
	color: #A4A4A4;
	letter-spacing: 2px;
}


/**
#contentnav{
	width: 100%;
	height: 5%;
	position: fixed;
	top: 635px;
	padding-left: 8%;
	z-index: 3;
	background-color: rgba(10,10,10,.9);
}
**/
#nav{
	width: 100%;
	height: 8%;
	position: fixed;
	background-color: rgba(10,10,10,.9);
	padding: 3% 0%;
	z-index: 4;
	top: 89%;
	

}

#nav ul {
	width: 650px;
	margin: 0 auto;
}

#nav ul li{
 	list-style: none;
 	display: inline-block;
 	position: relative;
 	text-align: center;
 	padding: 0px;
	margin: 2px 5px 2px 5px;
	z-index: 4;

}
#nav ul li a{
	text-decoration: none;
	color:#fff;
	font-family: 'Roboto', sans-serif; 
	font-weight: 300;
	font-size: 14px;
	line-height: 3px;
	z-index: 4;
}
#nav ul li a:hover{
	color: #A4C18C;
}
#activo > a{
	color: #5F4C0B;
}


#content{
	width: 100%;
	height:auto;
	
}


.section1{

	width: 650px;
	height: auto;
	margin: 0 auto;
	padding: 15 0 15 5%;	
}
.section2{
	width: 650px;
	height: auto;
	margin: 0 auto;
	padding: 15 5 0 15%;
	
	
}
.section1 img{

	width: 100%;
	height:500px;
	margin: 0px auto;
	z-index: -2;
	position: relative;
	
}
.section2 img{

	width: 100%;
	height:500px;
	margin: 0px auto;
	z-index: -2;
	position: relative;
	
}
img{
	max-width: 100%
}
.transicion{
	width: 100%;
	height:40%;
	z-index: 4;
}
.transicion p{
	color:#DFE4DF;
	font-family: 'Roboto', sans-serif; 
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
	z-index: 4;
	padding-left: 20%;
	line-height: 180%;
}

/**primer momento**/
.img1{
	
	position:absolute;
	top:780px;
	z-index:-1;
}
.img2{
	
	position:absolute; 
	top:780px;
	z-index:1;
}
.img3{
	position:absolute;
	top:780px;
	z-index:2;
}

.svg1{
	position:absolute;
	margin-left: 18%;
	margin-right: 3%;
	padding: 0px;
	top: 960px;
	z-index: 4;
	max-width: 50%;
}

.parrafo{
	width: 100%;
	height: 500px;
	margin-bottom: 400px;
	border: solid 1px black;
	position: relative;
}
.parrafo img{
	width: 100%;
	height: 500px;
	margin: 0 auto;
	z-index: -3;
}

.p {
    width: 50%;
    margin: 0 auto;
    height: 300px;
    z-index: 3;
    position: absolute;
    top: 100px;
    left: 300px;
    padding: 5% 5%;

}

p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 17px;
	color:rgba(0,0,0,.7);
}

.pcita {
	width: 50%;
    margin: 5% auto;
    height: 300px;
    z-index: 3;
    top: -800px;
    padding: 5% 5%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 17px;
	letter-spacing: 1px;
	color:rgba(0,0,0,.7);
	bottom: 0;
	position: absolute;
    top: 30px;
    left: 300px;
}

/**segundo momento**/

.img4{
	max-width: 500px;
	position:absolute;
	padding-right:2%; 
	top:1800px;
	z-index:-1;
}
.img5{
	max-width: 500px;
	position:absolute;
	padding-right:2%; 
	top:1800px;
	z-index:1;
}
.img6{
	max-width: 500px;
	position:absolute;
	padding-right:2%; 
	top:1800px;
	z-index:2;
}

.svg2{
	position:absolute;
	margin-left: 3%;
	margin-right: 18%;
	padding: 0px;
	top: 2000px;
	z-index: 4;
	max-width: 50%;
}

/**tercer momento**/


.img7{
	position:absolute;
	top:2700px;
	z-index:-1;
}

.img8{
	position:absolute;
	top:2700px;
	z-index:1;
}
.img9{
	position:absolute;
	top:2700px;
	z-index:2;
}

.svg3{
	width:100%;
	position:absolute;
	left:0px;
	top:2700px;
	z-index:4;
}

/**cuarto momento**/

.img10{
	
	position:absolute;
	top:3600px;
	z-index:-1;
}
.img11{
	position:absolute;
	top:3600px;
	z-index:1;
}
.img12{
	position:absolute;
	top:3600px;
	z-index:2;
}

.svg4{
	width:100%;
	position:absolute;
	left:0px;
	top:3600px;
	z-index:4;
}
/**quinto momento**/

.img13{
	
	position:absolute;
	top:4500px;
	z-index:-1;
}
.img14{
	position:absolute;
	top:4500px;
	z-index:1;
	right: 120px;
}
.img15{
	position:absolute;
	top:4600px;
	z-index:2;
}
.svg5{
	width:90%;
	position:absolute;
	left:20px;
	top:4500px;
	z-index:4;
}


/**cambio de página a primer momento de escultura**/
/**primer momento**/
.img16{
	
	position:absolute;
	top:5450px;
	z-index:-1;
}
.img17{
	position: absolute;
	top: 5450px;
	z-index: 1;
	left: 30%;
}
.img18{
	position: absolute;
    top: 5550px;
    z-index: 2;
    left: 30%;
}

.svg6{
	position: absolute;
	top: 5550px;
	z-index: 4;
}


/**cambio de página a primer momento de hospedería**/
/**primer momento**/
.img19{
	
	position:absolute;
	top:6500px;
	z-index:-1;
	right: 7%;
}
.img20{
	
	position:absolute;
	top:6500px;
	z-index:1;
}
.img21{
	
	position:absolute;
	top:6500px;
	z-index:2;
}

.svg7{
	position:absolute;
	margin-left: 15%;
	margin-right:3%;
	padding: 0px;
	top:6650px;
	z-index:4;
}

/**segundo momento**/
.img22{
	
	position:absolute;
	top:7400px;
	z-index:-1;
}
.img23{
	
	position:absolute;
	top:7400px;
	z-index:1;
}
.img24{
	
	position:absolute;
	top:7400px;
	z-index:2;
}

.svg8{
	position: absolute;
	margin-left: 3%;
	padding: 0px;
	top: 7550px;
	z-index: 4;
	margin-right: 0%;
}


/**cambio de página a primer momento de hospedería**/
/**primer momento**/
.img25{
	position:absolute;
	top:8290px;
	z-index:-1;
}
.img26{
	
	position:absolute;
	top:8260px;
	z-index:1;
}
.img27{
	
	position:absolute;
	top:8520px;
	z-index:2;
}

.svg9{
	position:absolute;
	margin-left: 15%;
	margin-right:3%;
	padding: 0px;
	top:8600px;
	z-index:4;
}

/**segundo momento**/

.img28{
	position:absolute;
	top:9200px;
	z-index:-1;
}
.img29{
	
	position:absolute;
	top:9250px;
	z-index:1;
}
.img30{
	
	position:absolute;
	top:9360px;
	z-index:2;
}

.svg10{
	position: absolute;
	margin-left: 0%;
	margin-right: 0%;
	padding: 0px;
	top: 9460px;
	z-index: 4;
}

footer{
	width: auto;
	height:6%;
	margin: 0px auto;
	padding: 0px 140px;
	position: fixed;
}
@media screen and (max-width: 768px) {

.parrafo{
/*border:1px solid red;*/

margin:-10% auto;

}

.p p{
font-size: 15px;
 /*line-height: 20px;*/
}

.p{
  top: 700px;
}
