/**

}
**/
body{
	background-image:url(../img/creampaper_@2.png);
	background-repeat:repeat;
	background-size: 100%;
	background-attachment: fixed;
	margin:0px;
	border: 0px;
	
}

#header{
	margin: 0px, 0px, 0px, 0px;
}
.encabezado{
	width: 960px;
	height: 400px;
	margin: 140px auto;
	padding: 0px 0px;

}

.encabezado p{
	font-weight:400;
	font-size:70px;
	font-family: 'Roboto', sans-serif;
	color: #848484;
	letter-spacing: 5px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0px 0px 20px 0px;
}

span{
	font-weight:700;
	font-size: 80px;
	letter-spacing: 1px;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 28px;
	color: #A4A4A4;
	letter-spacing: 2px;
}


#nav{
	width: 150px;
	height: 350px;
	position: fixed;
	top: 160px;
	left: 20px; 
	background-color: rgba(3,86,65,.8);
	padding: 0px;
	margin: 0px;

	

}
#nav ul li{
 	list-style: none;
 	display: inline-block;
 	position: relative;
 	left: -20px;
 	padding: 0px;
	margin: 9px 0px;

}
#nav ul li a{
	text-decoration: none;
	color:#fff;
	font-family: 'Roboto', sans-serif; 
	font-weight: 400;
	font-size: 14px;
	line-height: 3px;
}
#nav ul li a:hover{
	color: rgba(30,30,30,.5);
}
.activo > a{
	color: #5F4C0B;
}


#content{
	width: 100%;
	height:auto;
	
}


.section1{
	width: 1000px;
	height:600px;
	margin: auto;
	padding: 0px;
	
}
.section img{

	width: 100%;
	height:500px;
	margin: 0px auto;
	z-index: -2;
	position: relative;
	
}

.img1{
	position:absolute;
	left:100px; 
	top:700px;
	z-index:-1;
}
.img2{
	position:absolute;
	left:100px; 
	top:700px;
	z-index:1;
}
.img3{
	position:absolute;
	left:100px; 
	top:700px;
	z-index:2;
}

.svg1{
	max-width: 1000px;
	position:absolute;
	left:400px;
	top:1000px;
	z-index:3;
}

.parrafo{
	width: 100%;
}


.parrafo img{
	width: 100%;
	height:500px;
	margin: 0px auto;
	z-index: 3;
	position: relative;
	top: 200px;
	width: 100%;
	height:600px;
	padding: 0px;
	z-index: 3;
	
}

.p{
	width: 920px;
	height: 300px;
	margin: 0px auto;
	padding-left: 50px;
	padding-top: 50px;
	padding-right: 50px;
	margin:auto;
	z-index: 3;
	position: relative;
	top:-200px;
	background-color: rgba(3,86,65,.3);
}

.p p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color:#fff;
	
}



.section2{
	width: 500px;
	height: auto;
	float: left;
}

.img4{
	max-width: 500px;
	position:absolute;
	left:35px; 
	top:2000px;
	z-index:-1;
}
.img5{
	max-width: 500px;
	position:absolute;
	left:35px; 
	top:2000px;
	z-index:1;
}
.img6{
	max-width: 500px;
	position:absolute;
	left:35px; 
	top:2000px;
	z-index:2;
}

.svg2{
	max-width: 1000px;
	position:absolute;
	left:35px;
	top:2200px;
	z-index:3;
}


.section3{
	width: 500px;
	height: auto;
	float: left;
}

.img7{
	max-width: 500px;
	position:absolute;
	left:500px;
	top:3000px;
	z-index:-1;
}
.img8{
	max-width: 500px;
	position:absolute;
	left:500px;
	top:3000px;
	z-index:1;
}
.img9{
	max-width: 500px;
	position:absolute;
	left:500px;
	top:3000px;
	z-index:2;
}

.svg3{
	max-width: 1000px;
	position:absolute;
	left:400px;
	top:2800px;
	z-index:3;
}


.section4{
	width: 500px;
	height: auto;
	float: left;
}

.img10{
	max-width: 500px;
	position:absolute;
	left:300px; 
	top:3800px;
	z-index:-1;
}
.img11{
	max-width: 500px;
	position:absolute;
	left:300px;
	top:3800px;
	z-index:1;
}
.img12{
	max-width: 500px;
	position:absolute;
	left:300px;
	top:3800px;
	z-index:2;
}

.svg4{
	max-width: 1000px;
	position:absolute;
	left:300px;
	top:3400px;
	z-index:3;
}
