/**

}
**/
body{
	background-image:url(../img/creampaper_@2.png);
	background-repeat:repeat;
	background-attachment: fixed;
	margin:0%;
	border: 0%;
	
}

#header{
	margin: 0%;
}
.encabezado{
	width: 650px;
	height: 400px;
	margin: 140px auto;
	padding: 0px 0px;

}

.encabezado p{
	font-weight:300;
	font-size:70px;
	font-family: 'Roboto', sans-serif;
	color: #848484;
	letter-spacing: 5px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0px 0px 20px 0px;
}

span{
	font-weight:700;
	font-size: 80px;
	letter-spacing: 1px;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 28px;
	color: #A4A4A4;
	letter-spacing: 2px;
}


/**
#contentnav{
	width: 100%;
	height: 5%;
	position: fixed;
	top: 635px;
	padding-left: 8%;
	z-index: 3;
	background-color: rgba(10,10,10,.9);
}
**/
#nav{
	width: 100%;
	height: 8%;
	position: fixed;
	background-color: rgba(10,10,10,.9);
	padding: 3% 0%;
	z-index: 4;
	top: 89%;
	

}

#nav ul {
	width: 650px;
	margin: 0 auto;
}

#nav ul li{
 	list-style: none;
 	display: inline-block;
 	position: relative;
 	text-align: center;
 	padding: 0px;
	margin: 2px 5px 2px 5px;
	z-index: 4;

}
#nav ul li a{
	text-decoration: none;
	color:#fff;
	font-family: 'Roboto', sans-serif; 
	font-weight: 300;
	font-size: 14px;
	line-height: 3px;
	z-index: 4;
}
#nav ul li a:hover{
	color: rgba(100,35,35,.9);
}
#activo > a{
	color: #5F4C0B;
}


#content{
	width: 100%;
	height:auto;
	
}


.section1{

	width: 650px;
	height: auto;
	margin: 0 auto;
	padding: 0 0 0 5%;
	
	
}
.section2{
	width: 650px;
	height: auto;
	margin: 0 auto;
	padding: 0 5 0 0%;
	
	
}
.section1 img{

	width: 100%;
	height:500px;
	margin: 0px auto;
	z-index: -2;
	position: relative;
	
}
img{
	max-width: 100%
}

/**primer momento**/
.img1{
	
	position:absolute;
	top:700px;
	z-index:-1;
}
.img2{
	
	position:absolute; 
	top:700px;
	z-index:1;
}
.img3{
	
	position:absolute;
	
	top:700px;
	z-index:2;
}

.svg1{
	position:absolute;
	margin-left: 15%;
	margin-right:3%;
	padding: 0px;
	top:800px;
	z-index:4;
}

.parrafo{
	width: 100%;
}


.parrafo img{
	width: 100%;
	height:500px;
	margin: 0px auto;
	z-index: 3;
	position: relative;
	top: 80px;
	height:600px;
	padding: 0px;
	z-index: 3;
	
}

.p{
	height: 300px;
	z-index: 3;
	position: relative;
	top: -410px;
	width: 50%;
	margin: 5% auto;
}


.p p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 17px;
	color:rgba(0,0,0,.7);
	
}

/**segundo momento**/

.img4{
	max-width: 500px;
	position:absolute;
	padding-right:2%; 
	top:1800px;
	z-index:-1;
}
.img5{
	max-width: 500px;
	position:absolute;
	padding-right:2%; 
	top:1800px;
	z-index:1;
}
.img6{
	max-width: 500px;
	position:absolute;
	padding-right:2%; 
	top:1800px;
	z-index:2;
}

.svg2{
	position:absolute;
	padding-right:2%; 
	padding: 0px;
	top:1900px;
	z-index:4;
	width:600px;
}


/**tercer momento**/


.img7{
	position:absolute;
	top:2700px;
	z-index:-1;
}

.img8{
	position:absolute;
	top:2700px;
	z-index:1;
}
.img9{
	position:absolute;
	top:2700px;
	z-index:2;
}

.svg3{
	width:100%;
	position:absolute;
	left:0px;
	top:2750px;
	z-index:4;


}

/**cuarto momento**/

.img10{
	
	position:absolute;
	top:3700px;
	z-index:-1;
}
.img11{
	position:absolute;
	top:3700px;
	z-index:1;
}
.img12{
	position:absolute;
	top:3700px;
	z-index:2;
}

.svg4{
	width:100%;
	position:absolute;
	left:0px;
	top:3700px;
	z-index:4;
}
/**quinto momento**/

.img13{
	
	position:absolute;
	top:4700px;
	z-index:-1;
}
.img14{
	position:absolute;
	top:4700px;
	z-index:1;
}
.img15{
	position:absolute;
	top:4800px;
	z-index:2;
}
.svg5{
	width:70%;
	position:absolute;
	left:20px;
	top:4800px;
	z-index:4;
}


/**cambio de página a primer momento de escultura**/
/**primer momento**/
.img16{
	
	position:absolute;
	top:5600px;
	z-index:-1;
}
.img17{
	
	position:absolute;
	top:5600px;
	z-index:1;
}
.img18{
	
	position:absolute;
	top:5700px;
	z-index:2;
}

.svg6{
	position:absolute;
	margin-left: 15%;
	margin-right:3%;
	padding: 0px;
	top:5700px;
	z-index:4;
}


/**cambio de página a primer momento de hospedería**/
/**primer momento**/
.img19{
	
	position:absolute;
	top:6500px;
	z-index:-1;
}
.img20{
	
	position:absolute;
	top:6500px;
	z-index:1;
}
.img21{
	
	position:absolute;
	top:6500px;
	z-index:2;
}

.svg7{
	position:absolute;
	margin-left: 15%;
	margin-right:3%;
	padding: 0px;
	top:6500px;
	z-index:4;
}

/**primer momento**/
.img22{
	
	position:absolute;
	top:7500px;
	z-index:-1;
}
.img23{
	
	position:absolute;
	top:7500px;
	z-index:1;
}
.img24{
	
	position:absolute;
	top:7500px;
	z-index:2;
}

.svg8{
	position:absolute;
	margin-left: 15%;
	margin-right:3%;
	padding: 0px;
	top:7500px;
	z-index:4;
}



@media screen and (max-width: 768px) {

.parrafo{
/*border:1px solid red;*/

margin:-10% auto;

}

.p p{
font-size: 15px;
 /*line-height: 20px;*/
}
